$black: #323232;
$instock_blue: #004892;
$brainflix_blue: #0095ff;
$white: #ffffff;
$silver: #afafaf;
$instock_blue_dark: #002f5f;
$brainflix_hover_blue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;