.header {
  display: flex;
  flex-wrap: wrap;
  height: 169px;
  margin-right: 16px;

  &-input {
    margin-left: 5%;
    background-image: url("../assets/Icons/SVG/Icon-search.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 4vw;
    text-align: left;
    padding-left: 10vw;
    font-size: 15px;
    background-size: 15px;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    background-color: $alabaster;
    border-color: $alabaster;
  }

  &-button {
    margin-left: 5%;
    background-image: url("../assets/Icons/SVG/Icon-upload.svg");
    background-repeat: no-repeat;
    background-color: $brainflix_blue;
    border-style: none;
    color: $white;
    width: 70%;
    height: 40px;
    margin-right: 5%;
    border-radius: 4px;
    &:hover {
      background-color: $instock_blue_dark;
      border-color: $instock_blue_dark;
    }
  }
  &-logo {
    height: 48px;
    display: flex;
    margin-left: 95px;
  }
}

@include medium {
  .header {
    height: 80px;

    &-logo {
      justify-content: flex-start;
      margin-left: 24px;
      margin-right: 169px;
      margin-top: 16px;
    }
    &-input {
      width: 90%;
      margin-right: 24px;
      font-size: 16px;
      background-position-x: 1vw;
      text-align: left;
      padding-left: 4vw;
      font-size: 20px;
      background-size: 15px;
      width: 90%;
    }
    &-button {
      width: 40%;
      height: 48px;
      margin-right: 24px;
    }
  }
  .input {
    width: 55%;
    display: flex;
    margin-top: 16px;
  }
}
@include huge {
  .header {
    height: 80px;

    &-logo {
      justify-content: flex-start;
      margin-left: 12.5%;
      margin-right: 35.35%;
      margin-top: 16px;
    }
    &-input {
      width: 100%;
      margin-left: 0;
      margin-right: 24px;
    }
    &-button {
      width: 45%;
      height: 48px;
      margin-right: 24px;
    }
  }
  .input {
    width: 35%;
    display: flex;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}
