.main-author {
  display: flex;

  &__name {
    margin-right: 8px;
    margin-top: 0px;
  }
  &__date {
    color: $silver;
    margin-top: 0px;
  }
}
.main-container {
  margin-left: 16px;
}
.main-title {
  font-family: "AvenirBold";
  font-size: 25px;
  margin-top: 0px;
}
.views-button {
  display: flex;
}
.views-symbol {
  margin-right: 8px;
}
.views-numbers {
  margin-right: 24px;
}

.likes-button {
  display: flex;
}
.likes-symbol {
  margin-right: 8px;
}
.main-paragraph {
  font-family: "AvenirRegular";
  width: 90%;
  border-top: 0.4vw solid $mercury;
  padding-top: 24px;
  font-size: 13px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.comments-title {
  font-family: "AvenirSemiBold";
}
.button {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 100%;
  background-color: $mercury;
  border-color: $mercury;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
}
.form-title {
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 60px;
  color: $silver;
  font-family: "AvenirSemiBold";
  font-size: 12px;
}
.form-input {
  width: 72%;
  height: 80px;
  border-color: $brainflix_blue;
  border-radius: 4px;
  color: black;
  font-family: "AvenirRegular";
  margin-bottom: 16px;
}
.form-button {
  background-color: $brainflix_blue;
  border-color: $brainflix_blue;
  color: $white;
  border-radius: 4px;
  width: 74%;
  height: 40px;
  margin-bottom: 24px;
  margin-left: 60px;
  &:hover {
    background-color: $instock_blue_dark;
    border-color: $instock_blue_dark;
  }
}
.comment-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  margin-right: 16px;
  border-top: 0.4vw solid $mercury;
  border-bottom: 0.4vw solid $mercury;
}
.comment-container:nth-child(2) {
  border-top: none;
  border-bottom: none;
}
.comment-text {
  font-size: 14px;
  font-family: "AvenirRegular";
  width: 95%;
  margin-left: 60px;
}
.comment-name {
  font-family: "AvenirSemiBold";
  font-size: 13.5px;
  width: 34.38%;
  margin-right: 35px;
  margin-bottom: 0;
  height: 30px;
}
.comment-date {
  font-size: 14px;
  color: $silver;
  margin-bottom: 0;
  margin-top: 18px;
}
@include medium {
  .main-container {
    margin-left: 24px;
  }
  .main-title {
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 0px;
  }
  .main-container__two {
    display: flex;
    align-items: end;
    width: 97%;
    border-bottom: 0.3vw solid $mercury;
  }
  .main-author__date {
    margin-right: 320px;
  }

  .main-paragraph {
    border-top: none;
    text-align: left;
    width: 70%;
    line-height: 22px;
  }
}
