html,
body {
  margin: 0;
  font-family: "AvenirRegular", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* *:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/** media query for mobile **/
/** media query for tablet **/
/** media query got landscape, medium pixel density desktops **/
/** media query for high pixel density dekstops **/
.header-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.main-image {
  width: 100%;
  height: 183px;
}

.sub-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sub-img2 {
  position: relative;
  background-color: #323232;
  opacity: 0.9;
  bottom: 35px;
}

.sub-img3 {
  position: relative;
  background-color: #323232;
  opacity: 0.9;
  bottom: 30px;
}

.video-section {
  margin-left: 5%;
  margin-right: 5%;
}

.video-title {
  margin: 40px 0;
  color: #afafaf;
  font-family: "AvenirSemiBold";
  font-size: 14px;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}

.element-container {
  width: 37vw;
  height: 22vw;
}

.video-element {
  width: 100%;
  height: 70px;
  border-radius: 4px;
}

.form-img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-right: 14px;
}

@media only screen and (min-width: 768px) {
  .img-div {
    background-color: black;
    height: 400px;
  }
  .main-image {
    width: 91.15%;
    height: 400px;
    margin-left: 34px;
  }
  .element-container {
    width: 15vw;
    height: 10vw;
  }
  .video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 24px;
  }
  .video-element {
    width: 100%;
    height: 70px;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    overflow-x: hidden;
  }
  .img-div {
    background-color: black;
    height: 540px;
    width: 100%;
  }
  .main-image {
    width: 65.56%;
    height: 540px;
    margin-left: 17.22%;
    margin-right: 17.22%;
  }
  .element-container {
    width: 15vw;
    height: 10vw;
  }
  .video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 24px;
  }
  .video-element {
    width: 100%;
    height: 70px;
    border-radius: 4px;
  }
}

@font-face {
  font-family: "AvenirRegular";
  src: url(../assets/Fonts/AvenirRegular.otf);
}

@font-face {
  font-family: "AvenirThin";
  src: url(../assets/Fonts/AvenirThin.otf);
}

@font-face {
  font-family: "AvenirBold";
  src: url(../assets/Fonts/AvenirBold.otf);
}

@font-face {
  font-family: "AvenirSemiBold";
  src: url(../assets/Fonts/AvenirSemiBold.otf);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 169px;
  margin-right: 16px;
}

.header-input {
  margin-left: 5%;
  background-image: url("../assets/Icons/SVG/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 10px;
  text-align: center;
  width: 90%;
  height: 40px;
  border-radius: 4px;
  background-color: #fafafa;
  border-color: #fafafa;
}

.header-button {
  margin-left: 5%;
  background-image: url("../assets/Icons/SVG/Icon-upload.svg");
  background-repeat: no-repeat;
  background-color: #0095ff;
  border-color: #0095ff;
  color: #ffffff;
  width: 70%;
  height: 40px;
  margin-right: 5%;
  border-radius: 4px;
}

.header-button:hover {
  background-color: #002f5f;
  border-color: #002f5f;
}

.header-logo {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 95px;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 24px;
    margin-right: 169px;
    margin-top: 16px;
  }
  .header-input {
    width: 80%;
    margin-right: 24px;
  }
  .header-button {
    width: 40%;
    height: 48px;
    margin-right: 24px;
  }
  .input {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    height: 80px;
  }
  .header-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 12.5%;
    margin-right: 35.35%;
    margin-top: 16px;
  }
  .header-input {
    width: 100%;
    margin-left: 0;
    margin-right: 24px;
  }
  .header-button {
    width: 45%;
    height: 48px;
    margin-right: 24px;
  }
  .input {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}

.main-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-author__name {
  margin-right: 8px;
  margin-top: 0px;
  font-family: "AvenirSemiBold";
}

.main-author__date {
  color: #afafaf;
  margin-top: 0px;
}

.main-container {
  margin-left: 16px;
}

.main-title {
  font-family: "AvenirBold";
  font-size: 25px;
  margin-top: 0px;
}

.views-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.views-symbol {
  margin-right: 8px;
}

.views-numbers {
  margin-right: 24px;
}

.likes-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.likes-symbol {
  margin-right: 8px;
}

.main-paragraph {
  font-family: "AvenirRegular";
  width: 90%;
  border-top: 0.4vw solid #e1e1e1;
  padding-top: 24px;
  font-size: 13px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.comments-title {
  font-family: "AvenirSemiBold";
}

.button {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 100%;
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 16px;
}

.form-title {
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 60px;
  color: #afafaf;
  font-family: "AvenirSemiBold";
  font-size: 12px;
}

.form-input {
  width: 72%;
  height: 80px;
  border-color: #0095ff;
  border-radius: 4px;
  color: black;
  font-family: "AvenirRegular";
  margin-bottom: 16px;
}

.form-button {
  background-color: #0095ff;
  border-color: #0095ff;
  color: #ffffff;
  border-radius: 4px;
  width: 74%;
  height: 40px;
  margin-bottom: 24px;
  margin-left: 60px;
}

.form-button:hover {
  background-color: #002f5f;
  border-color: #002f5f;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 16px;
  margin-right: 16px;
  border-top: 0.4vw solid #e1e1e1;
  border-bottom: 0.4vw solid #e1e1e1;
}

.comment-container:nth-child(2) {
  border-top: none;
  border-bottom: none;
}

.text-container {
  width: 55vw;
  line-height: 20px;
  margin-left: 16px;
}

.video-text {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-family: "AvenirSemiBold";
}

.video-writer {
  width: 95%;
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
}

.comment-text {
  font-size: 14px;
  font-family: "AvenirRegular";
  width: 95%;
  margin-left: 60px;
  margin-bottom: 24px;
}

.comment-name {
  font-family: "AvenirSemiBold";
  font-size: 13.5px;
  width: 34.38%;
  margin-right: 35px;
  margin-bottom: 0;
  height: 30px;
}

.comment-date {
  font-size: 14px;
  color: #afafaf;
  margin-bottom: 0;
  margin-top: 18px;
}

@media only screen and (min-width: 768px) {
  .main-container {
    margin-left: 24px;
  }
  .main-title {
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 0px;
  }
  .main-container__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    width: 97%;
    border-bottom: 0.1vw solid #e1e1e1;
  }
  .main-author__date {
    margin-right: 320px;
  }
  .main-paragraph {
    border-top: none;
    text-align: left;
    width: 70%;
    line-height: 22px;
    border-top: none;
  }
  .comments-title {
    font-family: "AvenirSemiBold";
  }
  .button {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 100%;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
  }
  .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 16px;
  }
  .form-title {
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: 60px;
    color: #afafaf;
    font-family: "AvenirSemiBold";
    font-size: 12px;
  }
  .form-input {
    width: 60%;
    height: 35px;
    border-color: #0095ff;
    border-radius: 4px;
    color: black;
    font-family: "AvenirRegular";
    margin-bottom: 24px;
  }
  .form-button {
    background-color: #0095ff;
    border-color: #0095ff;
    color: #ffffff;
    border-radius: 4px;
    width: 20.83%;
    height: 40px;
    margin-right: 40px;
    margin-bottom: 24px;
    margin-left: 16px;
  }
  .form-button:hover {
    background-color: #002f5f;
    border-color: #002f5f;
  }
  .comment-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 93.75%;
    margin-left: 24px;
    margin-right: 24px;
    border-top: 0.2vw solid #e1e1e1;
    border-bottom: 0.2vw solid #e1e1e1;
  }
  .comment-container:nth-child(2) {
    border-top: none;
    border-bottom: none;
  }
  .text-container {
    width: 25vw;
    line-height: 20px;
    margin-left: 16px;
  }
  .video-text {
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-family: "AvenirSemiBold";
  }
  .video-writer {
    width: 95%;
    text-align: left;
    font-size: 13px;
    margin-top: 10px;
  }
  .comment-text {
    font-size: 14px;
    font-family: "AvenirRegular";
    width: 81.25%;
    margin-left: 60px;
    margin-bottom: 24px;
  }
  .comment-name {
    font-family: "AvenirSemiBold";
    font-size: 13.5px;
    width: 15%;
    margin-right: 0;
    margin-bottom: 0;
    height: 30px;
  }
  .comment-date {
    font-size: 14px;
    color: #afafaf;
    margin-bottom: 0;
    margin-top: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-container {
    margin-left: 12.5%;
    width: 49.44%;
  }
  .main-title {
    font-size: 30px;
    margin-top: 10px;
  }
  .main-author__name {
    margin-right: 8px;
    margin-top: 0px;
    font-size: 13px;
  }
  .main-author__date {
    color: #afafaf;
    margin-top: 0px;
    font-size: 13px;
  }
  .main-paragraph {
    font-family: "AvenirRegular";
    width: 75%;
    padding-top: 24px;
    font-size: 13px;
    padding-bottom: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .views-button {
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */